@charset "utf-8";

html {
  background: transparent;
}

body {
  position:relative;
	background-color:transparent;
	font-family: arial, sans-serif;
}

div#main {
  position:relative;
  background-color: Transparent;
  font-family: arial, sans-serif;
}

.lista{
  text-align: left;
  font-size: 15px;
}
.referencias{
  font-size: small;
}

.titulo {
  position:relative;
  border: orange solid 4px;
  border-bottom: orange solid 2px;
  border-bottom-style: dashed;
  border-top: none;
  text-decoration: underline;
  font-size: 40px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  float: right;
  background-color: rgba(0,0,0,0.8);
}

.texto {
  position:relative;
  border-left: orange solid 4px;
  border-right: orange solid 4px;
  color: white;
  text-align: center;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  width: 80%;
  float: right;
  height: auto;
  background-color: rgba(0,0,0,0.8);
}
*/
