@charset "utf-8";

html {
  background: transparent;
}

body {
  position:relative;
	background-color:transparent;
	font-family: arial, sans-serif;
}

div#main {
  position:relative;
  background-color: Transparent;
  font-family: arial, sans-serif;

}

.lista{
  text-align: left;
  font-size: 115px;
}
.referencias{
  font-size: small;
}

.titulo {
  position:relative;
  border-top: none;
  text-decoration: underline;
  font-size: 50px;
  padding: center;
  box-sizing: 0px;
  text-align: center;
  width: 80%;
  float: right;
  background-color: transparent;
}

.texto {
  position:absolute;
  color: black;
  background-color: transparent;
  padding: center;
  float: right;
  padding-right: 7%;
  padding-left: 190px;
  padding-top: 420px;
}

